
<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<meta charset="UTF-8">
<title>Andrew Couture - Portfolio</title>

<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="styles.css">


<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main>
  <div class="jumbotron">
    <h1>Welcome to My Portfolio</h1>
    <p>This is a showcase of my work and skills</p>
    <a href="about" class="btn btn-primary">About Me</a>
    <br> 
    <a href="projects" class="btn btn-secondary">Projects</a>
    <br> 
    <a href="services" class="btn btn-secondary">Services</a>
    <br> 
    <a href="contact" class="btn btn-secondary">Contact Me</a>
  </div>
  <p>My Mission Statement: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque maximus felis nec euismod. Vestibulum vestibulum bibendum massa, at suscipit risus pharetra nec.</p>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>